@font-face {
  font-family: SourceSansPro;
  src: url(../fonts/SourceSansPro-Regular.ttf);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;

}

a {
    color: #F83831;
  text-decoration: none;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto; 
  color: #555555;
  background: #FFFFFF; 
  font-family: Arial, sans-serif; 
  font-size: 14px; 
  /*font-family: SourceSansPro;*/
}

#header {
  /*padding: 10px 0;*/
    margin-bottom: 20px;
    border-bottom: 1px solid #F83831;
    /*margin-top: 50px;*/

}

#logo {
  float: left;
  margin-top: 8px;

}

#logo img {
  height: 70px;
}

#company {
  float: left;
  text-align: left;
  margin-left: 320px;

}


#details {
  margin-bottom: 50px;
}

#client {
  padding-left: 6px;
  border-left: 6px solid #F83831;
  float: left;
}

#client .to {
  color: #777777;
}

h2.name {
  font-size: 1.4em;
  font-weight: normal;
  margin: 0;
}

#invoice {
  float: right;
  /*text-align: right;*/
  /*text-align: left;*/
}

#invoice h1 {
  color: #F83831;
  font-size: 2.4em;
  line-height: 1em;
  font-weight: normal;
  margin: 0  0 10px 0;
}

#invoice .date {
  font-size: 1.1em;
  color: #777777;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 10px;
  background: #EEEEEE;
  text-align: center;
  border-bottom: 1px solid #FFFFFF;
}

table th {
  white-space: nowrap;
  font-weight: normal;
}

table td {
  text-align: right;
}

table td h3{
    color: #F83831;
  font-size: 1.2em;
  font-weight: normal;
  margin: 0 0 0.2em 0;
}

table .no {
  color: #FFFFFF;
  font-size: 1.6em;
    background: #F83831;
}

table .desc {
  text-align: left;
}

table .unit {
  background: #DDDDDD;
}

table .qty {
}

table .total {
    background: #F83831;
  color: #FFFFFF;
}

table td.unit,
table td.qty,
table td.total {
  font-size: 1.2em;
}

table tbody tr:last-child td {
  border: none;
}

table tfoot td {
  padding: 10px 20px;
  background: #FFFFFF;
  border-bottom: none;
  font-size: 1.2em;
  white-space: nowrap; 
  border-top: 1px solid #AAAAAA; 
}

table tfoot tr:first-child td {
  border-top: none; 
}

table tfoot tr:last-child td {
    color: #F83831;
  font-size: 1.4em;
    border-top: 1px solid #F83831; 

}

table tfoot tr td:first-child {
  border: none;
}

#thanks{
  margin-top: 25px;
  font-size: 2em;
  margin-bottom: 25px;
  /*margin-bottom: 50px;*/
}

#notices{
  padding-left: 6px;
    border-left: 6px solid #F83831;  
}

#notices .notice {
  font-size: 1.2em;
}

footer {
  color: #777777;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #AAAAAA;
  /*padding: 8px 0;*/
  text-align: center;
}

#company h1 {
    color: black;
    margin: 1px;
}