	/************************************************/
	/* JetPay Merchant Transaction Payment Pages    */
	/*              Version 1.09.01                 */
	/* For questions or assistance with this or any */
	/* pages in this package, please contact JetPay */
	/* Customer Service at 800-834-4405 option 2    */
	/* or email to assist@jetpay.com                */
	/* Development Team:                            */
	/* Dave Lantz - Lead Devlopment and Design      */
	/* Shez Virani - Technical Code Review          */
	/* David Wright - Email and Code Review         */
	/* These pages may not be reproduced or 		*/
	/* distributed with out the concent of JetPayLLC*/
	/* All Rights Reserved                          */
	/* Copyright 2006                               */
	/************************************************/



TD, P {
font-size: 11px;
font-family:Verdana,Arial, Helvetica, sans-serif;
font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; text-decoration: none;
vertical-align: center;
}

TD.highlight {
background-color: #CCCCCC;
font-weight: bold;
font-color: #999999;
}

TR.background {
background-color: #CCCCCC;
}

TR {
background-color: #FFFFFF;
}

A:link {
text-decoration : none;
color: CC6600;
}

A:visited {
text-decoration:none;
color: CC0000;

}


A:HOVER {
color : CC0000;
}


INPUT,SELECT { 
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
border-top-width:1px;
border-left-width:1px;

}
